td pre {
    white-space: pre-wrap;;
    word-wrap: break-word;
}

#goto-parent {
    margin-bottom: 15px;
}

.file-browser__shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .2);
}

#file-browser {
    position: absolute;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 15px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 430px;
    min-height: 482px;
}

.file-browser__strategies i {
    display: block;
    margin-bottom: 15px;
}

.file-browser__title {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

#files-explorer {
    height: 265px;
    overflow-y: auto;
}

#files-explorer div {
    cursor: pointer;
    padding: 5px;
}

#files-explorer> .dir:hover,
.recent-files__file:hover {
    background-color: #ddd!important;
}

#files-explorer> .file:hover {
    text-decoration: underline;
}

#files-explorer> div:nth-child(odd),
.recent-files__file:nth-child(odd) {
    background-color: #eee;
}

.dir:before {
    content: '‣';
    float: left;
    margin-right: 5px;
}

#current-dir {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.clearfix {
    clear: both;
}

.hidden {
    display: none;
}

#recent-files {
    min-height: 315px;
    overflow-y: auto;
}

.file-browser__tabs {
    margin-bottom: 15px;
}

.recent-files__file {
    padding: 15px;
    cursor: pointer;
}

.recent-files__file-name {
    font-weight: bold;
}

#file-browser__error {
    color: white;
    padding: 15px;
    background-color: #e57373;
    display: none;
    margin-bottom: 15px;
}

.file-browser__error--active {
    display: block!important;
}
